<!doctype html>
<html>
  <body>
    <h2>Login</h2>
    <form method="POST" action="/auth/login">
      <input name="email" placeholder="email" />
      <input name="password" placeholder="password" type="password" />
      <button type="submit">Login</button>
    </form>
    <a href="/auth/register">Register</a>
  </body>
</html>
