<!doctype html>
<html>
  <body>
    <h2>Register</h2>
    <form method="POST" action="/auth/register">
      <input name="displayName" placeholder="pseudo" />
      <input name="email" placeholder="email" />
      <input name="password" placeholder="password" type="password" />
      <button type="submit">Create</button>
    </form>
    <a href="/auth/login">Login</a>
  </body>
</html>
